<div class="error-page page-width section-padding">
  <h1 class="error-page__title">404</h1>
  <p class="error-page__message">La página que buscas no existe.</p>
  <a href="{{ routes.root_url }}" class="btn">Volver al inicio</a>
</div>

{% schema %}
{
  "name": "Página 404",
  "tag": "section",
  "class": "section-main-404",
  "settings": []
}
{% endschema %}
