<div class="page-content page-width section-padding">
  <h1 class="page-content__title">{{ page.title }}</h1>
  <div class="page-content__body rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Página",
  "tag": "section",
  "class": "section-main-page",
  "settings": []
}
{% endschema %}
